In [2]:
import geopandas as gp
import pandas as pd
import numpy as np

In [22]:
pcdf_td = pd.read_pickle("pcdf_1.pkl")

In [12]:
pcdf_gis = pd.read_csv("../rejoined/joined_drage_16_3.csv")

In [23]:
pcdf_gis = pcdf_gis[["parcelnumb", "Acres", "Crop2016"]]

In [9]:
pcdf_td

       parcelnumb  gdfindex  Acres Crop2016
0        12830112       NaN    0.0
1        12817026       NaN    0.0
2        12830219       NaN    0.0
3        12830132       NaN    0.0
4        11616008       NaN    0.0
...           ...       ...    ...      ...
145358   43053X04       NaN    0.0
145359   42466X01       NaN    0.0
145360   47702303       NaN    0.0
145361   56821043       NaN    0.0
145362   47409018       NaN    0.0

[145363 rows x 4 columns]

In [31]:
pcdf = pcdf_gis.groupby("parcelnumb").max()

In [33]:
z = pd.merge(left = pcdf_td, right = pcdf, left_on = "parcelnumb", right_on = "parcelnumb", how = "left")

In [36]:
z1 = z[z["Crop2016_x"] != '']

In [41]:
np.sum((z["Crop2016_x"] == z["Crop2016_y"]))/len(z1)

0.6015661210450565

In [47]:
len(z1)

40993

In [3]:
ca_fresno = pd.read_csv("../ca_fresno.csv")

/home/draget/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (42,46,50,51,57,93) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
ca_fresno.drop_duplicates(subset = ["parcelnumb"], inplace = True)

In [15]:
ca_fresno["parcelnumb"].value_counts()

13807079     1
03302050     1
48027512     1
40361225     1
45925411     1
            ..
43018526     1
49303047S    1
31307126     1
50608110S    1
44237104     1
Name: parcelnumb, Length: 297434, dtype: int64

In [24]:
pcdf_td.drop_duplicates(inplace = True)

In [25]:
len(pcdf_td)

92220

In [28]:
len(ca_fresno)

297435

In [106]:
ca_fresno_td = pd.merge(left = ca_fresno, right = pcdf_td, left_on = "parcelnumb", right_on = "parcelnumb", how ="left")

In [137]:
crop_shapes = pd.read_csv("../crop_shapes.csv")

In [139]:
crop_shapes.rename(columns = {crop_shapes.columns[0]: "gdfindex"}, inplace = True)

In [140]:
ca_fresno_td["gdfindex"] = ca_fresno_td["gdfindex"].astype('Int64')

In [141]:
crop_shapes["gdfindex"] = crop_shapes["gdfindex"].astype('Int64')

In [142]:
comb_df = pd.merge(left = ca_fresno_td, right = crop_shapes, left_on = "gdfindex", right_on = "gdfindex", how = "left")

In [149]:
comb_df.rename(columns = {'Crop2016_y': "Crop2016"}, inplace = True)
comb_df.rename(columns = {'Acres_y': "Acres"}, inplace = True)

In [150]:
comb_df.to_csv("joined_combined_df_td_27_3.csv")

In [153]:
comb_df_filt = comb_df[(~ pd.isnull(comb_df["Crop2016"])) & (~ comb_df["Crop2016"].isin(["Idle", "Urban"])) ]

In [154]:
comb_df_filt.to_csv("joined_combined_filtered_df_td_27_3.csv")