In [1]:
import pandas as pd
import numpy as np

In [69]:
soil_east_df = pd.read_csv("../soil/soil_750_intersect_warea.csv")

/home/draget/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (47,51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [70]:
soil_east_df["intersect_area_acre"] = soil_east_df["area"]*0.000247105

In [71]:
soil_east_df.columns

Index(['geoid', 'sourceagen', 'parcelnumb', 'usecode', 'usedesc', 'zoning',
       'zoning_des', 'struct', 'multistruc', 'structno',
       ...
       'qoz_tract', 'll_gisacre', 'll_gissqft', 'AREASYMBOL', 'SPATIALVER',
       'MUSYM', 'MUKEY', 'area', 'perimeter', 'intersect_area_acre'],
      dtype='object', length=109)

In [72]:
max_soil_east_df = soil_east_df.loc[soil_east_df.groupby(["parcelnumb"])["intersect_area_acre"].idxmax()]

In [73]:
soil_properties_east_df = pd.read_csv("../soil/Farm_value_query_TD_750.txt")

In [74]:
soil_properties_east_df

,musym,mukey,farmlndcl,irrcapcl,irrcapscl,nirrcapcl,nirrcalscl
0,101,465076,Not prime farmland,NaN,NaN,6.0,e
1,102,465077,Not prime farmland,NaN,NaN,6.0,e
2,103,465078,Not prime farmland,NaN,NaN,8.0,e
3,104,465079,Not prime farmland,NaN,NaN,6.0,w
4,105,465080,Not prime farmland,NaN,NaN,6.0,e
...,...,...,...,...,...,...,...
115,TxDef,1674963,Not prime farmland,4.0,e,4.0,e
116,TxFef,1674964,Not prime farmland,NaN,NaN,7.0,e
117,VdAm,1675006,Prime farmland if irrigated,1.0,NaN,4.0,c
118,W,1674978,Not prime farmland,NaN,NaN,NaN,NaN
119,WIL,1675004,Not prime farmland,NaN,NaN,NaN,NaN

In [75]:
soil_data_east.columns

Index(['parcelnumb', 'intersect_area_acre', 'MUSYM', 'farmlndcl', 'irrcapcl',
       'irrcapscl', 'nirrcapcl', 'nirrcalscl'],
      dtype='object')

In [76]:
soil_data_east = pd.merge(left = max_soil_east_df, right = soil_properties_east_df, left_on = "MUSYM", right_on = "musym", how = "left")

In [77]:
soil_data_east = soil_data_east[["parcelnumb", "intersect_area_acre", "MUSYM", "farmlndcl", "irrcapcl", "irrcapscl", "nirrcapcl", "nirrcalscl"]]

In [78]:
soil_data_east.to_csv("../soil/soil_data_750.csv")